/* home.component.css */
.breaking-news {
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .breaking-news .news-content {
    text-align: center;
  }
  
  .breaking-news img {
    width: 200px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px;
  }
  
  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .news-item {
    text-align: center;
  }
  
  .news-item img {
    width: 200px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px;
  }
  
  .news-item p {
    font-size: 12px;
    color: grey;
  }
  
  .news-item h3 {
    font-size: 18px;
  }
  
  .news-item:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: scale(1.03);
    transition: all 0.3s ease;
  }
  
  .sign-in-cta {
    text-align: center;
    margin-top: 20px;
  }
  
  .sign-in-cta p {
    font-size: 22px;
  }
  
  .sign-in-cta button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sign-in-cta button:hover {
    background-color: darkgreen;
  }
  
  @media (max-width: 600px) {
    .news-grid {
      grid-template-columns: 1fr; /* Stacks the grid items on smaller screens */
    }
    .breaking-news img, .news-item img {
      width: 100%; /* Full width on smaller screens */
    }
  }
  